@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #232034;
}

h1 {
    text-align: center;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    font-size: 70px;
    color: rgb(255, 255, 255);
    margin-top: 8%;
}

a {
    background-color: #ffffff;
    color: #000000;
    font-size: 40px;
    display:inline-flex;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    width: 528px;
    height: 120px;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    margin-right: 28px;
    margin-top: 28px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}