@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 38px;
    background-color: white;
    text-align: center;
}

p {
    font-family: "Epilogue", sans-serif;
    color: black;
}